  nav {
    background-color: black;
  }

  /* mobile styles first */
  .logo {
    max-width: 6rem;
  }

.home{
  padding: 1rem;
  text-decoration: none !important;
  color: white;
  display: block;
  font-size: 1.25rem;
}

