@import url("https://use.typekit.net/swa0fjs.css");

body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font-family: "new-hero", sans-serif;
}

main {
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 60rem;
}

form {
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
}

label {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    line-height: 1.8;
    text-align: center;

}

input {
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 1.25rem ;
    display: block;
    box-sizing: border-box;
    width: 80%;
    padding: 0.5rem 0.75rem;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

input[type="submit"],
input[type="button"]
 {
    display: block;
    font-weight: bold;
    padding: 0.75rem 1rem;
    height: min-content;
    margin : 2rem auto ;
    background-color: white;
    color:black;
    box-shadow: 10px 10px 0px black;
    transition: .5s;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    box-shadow: 1px 1px 0px black;
}
.form-div a{
    text-decoration: none;

}
label {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 100%;
    display:block;
}

.form-div{
    display: grid;
    place-items: center;
    margin-top:1rem;
}

.form-div input[type="number"],
.form-div input[type="url"]{
    max-width: 200px;
}

.selectType{
    padding: .5rem 2rem;
    font-size: 1rem;
    margin : auto;
    display: block;
}